// Reconstructed from the C1 PE resource tree; raw PE leaves are the oracle.
#pragma code_page(65001)
#include "resource_ids.h"

LANGUAGE 7, 1

#include "dialogs/1031/100.rcinc"
#include "dialogs/1031/106.rcinc"
#include "dialogs/1031/138.rcinc"
#include "dialogs/1031/142.rcinc"
#include "dialogs/1031/143.rcinc"
#include "menus/1031/128.rcinc"
#include "strings/1031/2049.rcinc"
#include "strings/1031/2050.rcinc"
#include "strings/1031/2051.rcinc"
#include "strings/1031/2052.rcinc"
#include "strings/1031/2053.rcinc"
#include "strings/1031/2054.rcinc"
#include "strings/1031/2055.rcinc"
#include "strings/1031/2057.rcinc"
#include "strings/1031/2501.rcinc"
#include "strings/1031/2502.rcinc"
#include "strings/1031/3585.rcinc"
#include "strings/1031/3601.rcinc"
#include "strings/1031/3602.rcinc"
#include "strings/1031/3603.rcinc"
#include "strings/1031/3604.rcinc"
#include "strings/1031/3605.rcinc"
#include "strings/1031/3606.rcinc"
#include "strings/1031/3697.rcinc"
#include "strings/1031/3713.rcinc"
#include "strings/1031/3825.rcinc"
#include "strings/1031/3826.rcinc"
#include "strings/1031/3827.rcinc"
#include "strings/1031/3828.rcinc"
#include "strings/1031/7.rcinc"
#include "strings/1031/8.rcinc"
#include "strings/1031/9.rcinc"
#include "version/1031/1.rcinc"
LANGUAGE 9, 1

#include "dialogs/1033/100.rcinc"
#include "dialogs/1033/106.rcinc"
#include "dialogs/1033/138.rcinc"
#include "dialogs/1033/142.rcinc"
#include "dialogs/1033/143.rcinc"
#include "menus/1033/128.rcinc"
#include "menus/1033/136.rcinc"
#include "strings/1033/2049.rcinc"
#include "strings/1033/2050.rcinc"
#include "strings/1033/2051.rcinc"
#include "strings/1033/2052.rcinc"
#include "strings/1033/2053.rcinc"
#include "strings/1033/2054.rcinc"
#include "strings/1033/2055.rcinc"
#include "strings/1033/2057.rcinc"
#include "strings/1033/2501.rcinc"
#include "strings/1033/2502.rcinc"
#include "strings/1033/3585.rcinc"
#include "strings/1033/3601.rcinc"
#include "strings/1033/3602.rcinc"
#include "strings/1033/3603.rcinc"
#include "strings/1033/3604.rcinc"
#include "strings/1033/3605.rcinc"
#include "strings/1033/3606.rcinc"
#include "strings/1033/3697.rcinc"
#include "strings/1033/3713.rcinc"
#include "strings/1033/3825.rcinc"
#include "strings/1033/3826.rcinc"
#include "strings/1033/3827.rcinc"
#include "strings/1033/3828.rcinc"
#include "strings/1033/7.rcinc"
#include "strings/1033/8.rcinc"
#include "strings/1033/9.rcinc"
#include "version/1033/1.rcinc"
1 24 "manifest/1-1033.xml"
LANGUAGE 12, 1

#include "dialogs/1036/100.rcinc"
#include "dialogs/1036/106.rcinc"
#include "dialogs/1036/138.rcinc"
#include "dialogs/1036/142.rcinc"
#include "dialogs/1036/143.rcinc"
#include "menus/1036/128.rcinc"
#include "strings/1036/2049.rcinc"
#include "strings/1036/2050.rcinc"
#include "strings/1036/2051.rcinc"
#include "strings/1036/2052.rcinc"
#include "strings/1036/2053.rcinc"
#include "strings/1036/2054.rcinc"
#include "strings/1036/2055.rcinc"
#include "strings/1036/2057.rcinc"
#include "strings/1036/2501.rcinc"
#include "strings/1036/2502.rcinc"
#include "strings/1036/3585.rcinc"
#include "strings/1036/3601.rcinc"
#include "strings/1036/3602.rcinc"
#include "strings/1036/3603.rcinc"
#include "strings/1036/3604.rcinc"
#include "strings/1036/3605.rcinc"
#include "strings/1036/3606.rcinc"
#include "strings/1036/3697.rcinc"
#include "strings/1036/3713.rcinc"
#include "strings/1036/3825.rcinc"
#include "strings/1036/3826.rcinc"
#include "strings/1036/3827.rcinc"
#include "strings/1036/3828.rcinc"
#include "strings/1036/7.rcinc"
#include "strings/1036/8.rcinc"
#include "strings/1036/9.rcinc"
#include "version/1036/1.rcinc"
LANGUAGE 16, 1

#include "dialogs/1040/100.rcinc"
#include "dialogs/1040/106.rcinc"
#include "dialogs/1040/138.rcinc"
#include "dialogs/1040/142.rcinc"
#include "dialogs/1040/143.rcinc"
#include "menus/1040/128.rcinc"
#include "strings/1040/2049.rcinc"
#include "strings/1040/2050.rcinc"
#include "strings/1040/2051.rcinc"
#include "strings/1040/2052.rcinc"
#include "strings/1040/2053.rcinc"
#include "strings/1040/2054.rcinc"
#include "strings/1040/2055.rcinc"
#include "strings/1040/2057.rcinc"
#include "strings/1040/2501.rcinc"
#include "strings/1040/2502.rcinc"
#include "strings/1040/3585.rcinc"
#include "strings/1040/3601.rcinc"
#include "strings/1040/3602.rcinc"
#include "strings/1040/3603.rcinc"
#include "strings/1040/3604.rcinc"
#include "strings/1040/3605.rcinc"
#include "strings/1040/3606.rcinc"
#include "strings/1040/3697.rcinc"
#include "strings/1040/3713.rcinc"
#include "strings/1040/3825.rcinc"
#include "strings/1040/3826.rcinc"
#include "strings/1040/3827.rcinc"
#include "strings/1040/3828.rcinc"
#include "strings/1040/7.rcinc"
#include "strings/1040/8.rcinc"
#include "strings/1040/9.rcinc"
#include "version/1040/1.rcinc"
LANGUAGE 17, 1

#include "dialogs/1041/100.rcinc"
#include "dialogs/1041/106.rcinc"
#include "dialogs/1041/138.rcinc"
#include "dialogs/1041/142.rcinc"
#include "dialogs/1041/143.rcinc"
#include "menus/1041/128.rcinc"
#include "strings/1041/2049.rcinc"
#include "strings/1041/2050.rcinc"
#include "strings/1041/2051.rcinc"
#include "strings/1041/2052.rcinc"
#include "strings/1041/2053.rcinc"
#include "strings/1041/2054.rcinc"
#include "strings/1041/2055.rcinc"
#include "strings/1041/2057.rcinc"
#include "strings/1041/2501.rcinc"
#include "strings/1041/2502.rcinc"
#include "strings/1041/3585.rcinc"
#include "strings/1041/3601.rcinc"
#include "strings/1041/3602.rcinc"
#include "strings/1041/3603.rcinc"
#include "strings/1041/3604.rcinc"
#include "strings/1041/3605.rcinc"
#include "strings/1041/3606.rcinc"
#include "strings/1041/3697.rcinc"
#include "strings/1041/3713.rcinc"
#include "strings/1041/3825.rcinc"
#include "strings/1041/3826.rcinc"
#include "strings/1041/3827.rcinc"
#include "strings/1041/3828.rcinc"
#include "strings/1041/7.rcinc"
#include "strings/1041/8.rcinc"
#include "strings/1041/9.rcinc"
#include "version/1041/1.rcinc"
LANGUAGE 9, 2

#include "accelerators/2057/128.rcinc"
#include "dialogs/2057/100.rcinc"
#include "dialogs/2057/106.rcinc"
#include "dialogs/2057/138.rcinc"
#include "dialogs/2057/142.rcinc"
#include "dialogs/2057/143.rcinc"
#include "dialogs/2057/144.rcinc"
#include "dialogs/2057/146.rcinc"
#include "dialogs/2057/147.rcinc"
#include "dialogs/2057/148.rcinc"
#include "menus/2057/128.rcinc"
#include "strings/2057/2049.rcinc"
#include "strings/2057/2050.rcinc"
#include "strings/2057/2051.rcinc"
#include "strings/2057/2052.rcinc"
#include "strings/2057/2053.rcinc"
#include "strings/2057/2054.rcinc"
#include "strings/2057/2055.rcinc"
#include "strings/2057/2057.rcinc"
#include "strings/2057/2501.rcinc"
#include "strings/2057/2502.rcinc"
#include "strings/2057/3585.rcinc"
#include "strings/2057/3601.rcinc"
#include "strings/2057/3602.rcinc"
#include "strings/2057/3603.rcinc"
#include "strings/2057/3604.rcinc"
#include "strings/2057/3605.rcinc"
#include "strings/2057/3606.rcinc"
#include "strings/2057/3697.rcinc"
#include "strings/2057/3713.rcinc"
#include "strings/2057/3825.rcinc"
#include "strings/2057/3826.rcinc"
#include "strings/2057/3827.rcinc"
#include "strings/2057/3828.rcinc"
#include "strings/2057/7.rcinc"
#include "strings/2057/8.rcinc"
#include "strings/2057/9.rcinc"
#include "toolbars/2057/128.rcinc"
#include "version/2057/1.rcinc"
103 BITMAP "images/bitmap/103.bmp"
128 BITMAP "images/bitmap/128.bmp"
128 ICON "images/icon/128.ico"
129 ICON "images/icon/129.ico"
130 BITMAP "images/bitmap/130.bmp"
131 BITMAP "images/bitmap/131.bmp"
132 CURSOR "images/cursor/132.cur"
LANGUAGE 10, 3

#include "dialogs/3082/100.rcinc"
#include "dialogs/3082/106.rcinc"
#include "dialogs/3082/138.rcinc"
#include "dialogs/3082/142.rcinc"
#include "dialogs/3082/143.rcinc"
#include "menus/3082/128.rcinc"
#include "strings/3082/2049.rcinc"
#include "strings/3082/2050.rcinc"
#include "strings/3082/2051.rcinc"
#include "strings/3082/2052.rcinc"
#include "strings/3082/2053.rcinc"
#include "strings/3082/2054.rcinc"
#include "strings/3082/2055.rcinc"
#include "strings/3082/2057.rcinc"
#include "strings/3082/2501.rcinc"
#include "strings/3082/2502.rcinc"
#include "strings/3082/3585.rcinc"
#include "strings/3082/3601.rcinc"
#include "strings/3082/3602.rcinc"
#include "strings/3082/3603.rcinc"
#include "strings/3082/3604.rcinc"
#include "strings/3082/3605.rcinc"
#include "strings/3082/3606.rcinc"
#include "strings/3082/3697.rcinc"
#include "strings/3082/3713.rcinc"
#include "strings/3082/3825.rcinc"
#include "strings/3082/3826.rcinc"
#include "strings/3082/3827.rcinc"
#include "strings/3082/3828.rcinc"
#include "strings/3082/7.rcinc"
#include "strings/3082/8.rcinc"
#include "strings/3082/9.rcinc"
#include "version/3082/1.rcinc"
